:root {
  --white: #FFF;

  --gray-500: #6B6B78;
  --gray-700: #4D4D57;
  --gray-800: #36363D;

  --purple-600: #7105F5;
  --purple-700: #6B05E8;
  --purple-800: #6304D6;

  --red: #F20701
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-700);
  color:  var(--white);
}

body, button, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}